body,html {
    height:100%;
}

.container-fluid {
    padding-top:100px;
    
}
.bg {
    /* The image used */
    background-image: url("../Images/Background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


input[type=button] {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
}





