* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container-fluid {
    padding-top: 100px;
}

.bg {
    /* The image used */
    background-image: url("../Images/Background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*input[type=button] {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
}*/
div-btn {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
}

:root {
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
}

.option-btn {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 50%;
    height: 80%;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
}

    .option-btn:hover {
        background-image: linear-gradient( 145deg, transparent 10%, var(--dark) 10% 20%, transparent 20% 30%, var(--dark) 30% 40%, transparent 40% 50%, var(--dark) 50% 60%, transparent 60% 70%, var(--dark) 70% 80%, transparent 80% 90%, var(--dark) 90% 100% );
        animation: background 3s linear infinite;
    }
